.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-left: 800px;
}

.span {
  font-size: 2em;
  color: red;
}

.button {
  border: none;
  outline: none;
}